@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Spectral', serif;
  margin: 0;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.mobile-container {
  width: 400px;
  background: #fff;
  box-shadow: 0 0 10px 2px #3333331A;
  border-radius: 3px;
  overflow: hidden;
}

header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

header input {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: none;
  background: #eee;
  font-family: inherit;
}

header button {
  background: transparent;
  color: #aaa;
  font-size: 1.5rem;
  border: none;
  margin-left: 10px;
}

img {
  max-width: 100%;
}

.fav-container {
  background-color: #fff;
  text-align: center;
  padding: 0.25rem 1rem;
}

.fav-meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.fav-meals li {
  width: 75px;
  margin: 5px;
}

.fav-meals li img {
  width: 70px;
  border: 2px solid #ffffff1A;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #3333331a;
}

.fav-meals li span {
  font-size: 0.9rem;
}

.meal {
  margin: 10px;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 1.5rem;
  overflow: hidden;
}

.meal-header {
  position: relative;
}

.meal-header .random {
  position: absolute;
  top: 1rem;
  background: #fff;
  padding: 0.25rem 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body .fav-btn {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: grey;
  cursor: pointer;
}

.meal-body .fav-btn.active {
  color: rebeccapurple;
}